<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <title>Goodreads reviews</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>RH free books summer 2013</h1>
                <p>Reviews and description from goodreads.com</p>  
            </div>
            <div class="col-5 your-books-container">
                <h2>Your books</h2>
                <textarea name="" class="form-control" id="your-books" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row">
            {{#books}}
            <div class="col-12 book">
                <h3 class="title"><a href="{{url}}" >{{title}}</a></h3>
                <h4 class="author">
                    By
                    {{#authors}}
                        {{.}} <br/>
                    {{/authors}}
                </h4>
                <em class="isbn">ISBN: {{isbn}}</em>

                <div class="row">
                    <div class="col-2">
                        <img src="{{cover_image}}" class="cover-image" />
                        <button class="btn btn-lg btn-primary add-to-list">Add to list</button>
                    </div>
                    <div class="col-8">
                        <h3 class="rating">Rating: {{rating}} <em> by {{ratings_count}} users</em></h3>
                        <h3>Description</h3>
                        <p class="description">{{{description}}}</p>
                    </div>
                </div>
            </div>
            {{/books}}
        </div>    
    </div>
    
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('#your-books');
            $('.add-to-list').on('click', function (e) {
                var $target = $(e.target).parents('.book').eq(0),
                    oldContent = $form.html(),
                    bookTitle = $target.find('.title a').eq(0).html(),
                    bookISBN = $target.find('.isbn').eq(0).html(),
                    newItem = 'Title: ' + bookTitle + '\n' + bookISBN + '\n\n';
                $form.html(oldContent + newItem);
            });
            $('.title a').on('click', function (e) {
                e.preventDefault();
                window.open($(e.target).attr('href'));
            });
        });
    </script>
</body>
</html>